html, body {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', serif;
}
.title-col {
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  color: white;
  background: #4cd1be;
}
.refreshes {
  text-shadow: 0px 0px 15px #4cd1be;
  flex-direction: row;
  position: relative;
  font-size: 10em;
  width: .85em;
  height: 1em;
  perspective: 250px;
  -webkit-perspective: 250px;
  perspective-origin: 50% 75%;
  -webkit-perspective-origin: 50% 75%;
}
.refresh {
  position: absolute;
  animation: rotatedb 7s linear 0s infinite;
  -webkit-animation: rotatedb 10s linear 0s infinite;
}
@keyframes rotatedb {
  from {
    transform: rotateX(45deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotatedb {
  from {
    -webkit-transform: rotateX(45deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateX(45deg) rotateZ(360deg);
  }
}
.refresh:nth-child(1) {
  top: .1em;
}
.refresh:nth-child(2) {
  top: -.0em;
}
.refresh:nth-child(3) {
  top: -.1em;
}
.refresh:nth-child(4) {
  top: -.2em;
}
.refresh:nth-child(5) {
  top: -.3em;
}
.refresh:nth-child(even) {
  color: #4cd1be;
}
.title-col h1 {
  font-weight: 300;
  font-size: 6em;
  margin: 0;
}
.title-col p {
  font-size: 1.8em;
  text-align: center;
}
.down-arrow {
  font-size: 3em;
  position: absolute;
  bottom: .3em;
  left: 50%;
  margin-left: -.4em;
  color: rgba(255, 255, 255, .9);
  text-shadow: 1px 4px 6px #4cd1be,
               0px 0px 0px rgba(0, 0, 0, 1),
               1px 4px 6px #4cd1be;
}
.original-obj {
  width: 33.33%;
}
.modified-obj {
  width: 33.33%;
}
.diff-obj {
  width: 33.33%;
}
.why-col {
  width: 50.00%;
}
.what-col {
  width: 50.00%;
}
.get-it-col {
  width: 33.33%;
}
code {
  font-family: 'Source Code Pro';
}
